<!DOCTYPE html>
<html>
@{
    Layout = null;
    ViewBag.Title = "Rechercher un Livre";
}
<body>

    <h3>Resultats : </h3>
    @{ if (ViewBag.result.Length != 0)
        {
            <p>@ViewBag.result.Length resultat(s) correspond à votre recherche.</p>
            <ul>
            @foreach (Activité_1.Models.Livre livre in ViewBag.result)
            {
                <li>Titre : <a href="~/Afficher/Livre/@livre.Id"><q>@livre.Titre</q></a> Auteur: <a href="~/Afficher/Auteur/@livre.Auteur.Id">@livre.Auteur.Nom</a></li>
            }
                </ul>

        }
        else {
            <p>Aucun livre ne correspond à votre recherche.</p>
        } }

</body>
</html>

